# Dossiers de sortie
SORTIE_PDF/
SORTIE_LATEX/

# Dossiers et fichiers généraux
.venv/
.DS_Store
*.log
*.swp

# Fichiers Python
__pycache__/
*.pyc

# Fichiers générés par LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
temp.tex

# Fichiers générés par OnlyOffice
.~lock.data.xlsx#
